body{
    width: 100%;
    
}
nav{
    height: 150px;
}
h1{
    font-family: 'oswald', sans-serif;
    font-style: bold;
    font-size: 33px;
    float: left;
}

h2{
    font-family: 'yellowtail', cursive;
    float: left;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    line-height: 32px;
    
}
h3{
    font-variant: small-caps;
    font-family: 'overpass', sans-serif;
    letter-spacing: -1px;
    font-size: 14px;
}
li{
    margin: 0px;
    list-style-type: none;
}

.pint{
    margin-right: 15px;
}

div.logos{
    float: right;
    width: 235px;
    height: 150px;
}

div.stripeBorder{
    background-image: url(https://github.com/codefellows/seattle-201d58/blob/master/class-10/lab-assets/hr-img.png?raw=true);
    background-repeat: repeat-x repeat-y;
    width: 900px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

h4{
    float:left;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-family: 'oswald' sans-serif;
    font-size: 9px;
}

header div{
    height: 50px;
    width: 20%;
    margin-left: 10px;
    float: left;
}

header{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    height: 100px;
}
header img{
    float: left;
}

main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}